---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Advisors from "../components/Advisors.astro";
import Faq from "../components/Faq.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Κρητικού Κατερίνα | Ψυχολόγος">
  <div class="">
    <Hero />
    <Services />
    <!-- <Advisors /> -->
    <Faq />
    <Contact />
  </div>
</Layout>